<!-- Alfinsyah Suhendra -->
<!-- Tugas-9-10-Form-Input-Binding -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas_9-10-Form-Input-Binding</title>
</head>
<body>
  <div id="app">

    <form>
        <input type="text" v-model="findgames" placeholder="find games">
        <ul>
            <li v-for="item in findData" :key="item.id">
                {{ item.title }}
            </li>
        </ul>
    </form>

  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
      
   var vm = new Vue({
      el: '#app',
      data() {
        return {
            findgames:"",
            product: [],
        };
      },
      created() {
          this.product = [
              { title: "PES 2013"},
              { title: "PES 2014"},
              { title: "PES 2015"},
              { title: "FIFA 2016"},
              { title: "FIFA 2017"},
          ];
      },
      computed: {
          findData() {
              return this.product.filter((item) => {
                return item.title.match(this.findgames);
              });
          }
      }
  })
  </script>
</body>
</html>